<!DOCTYPE html>
<html lang="es-AR">
    <head><%- include('../partials/head'); %></head>

    <body>
        <header><%- include('../partials/header'); %></header>

        <div class="container">
            <h1>Estos es el index</h1>
            <a href="/productos"><button>PRODUCTOS</button></a>
        </div>
        

        




        <footer><%- include('../partials/footer'); %></footer>
    </body>
</html>